<html>
  <header><link rel="stylesheet" href="/index.css" /></header>
  <body>
    <h1>Create more category</h1>
    <%- include("partial/nav.ejs") %>
    <div class="container">
      <p>previous categories</p>
      <% categories.forEach(function(category){ %>
      <li>
        <button>
          <a href="/categories/<%= category.id %>"><%= category.name %></a>
        </button>
      </li>
      <% }); %>
    </div>
    <form action="/categories/create" method="post">
      <input type="text" name="name" id="name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
