<html>
  <head>
    <link rel="stylesheet" href="/index.css" />
    <title>Shop</title>
  </head>
  <body>
    <h1>Products</h1>
    <%- include("partial/nav.ejs") %>
    <div class="container">
      <% products.forEach(function(product){ %>
      <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
      <% }); %>
    </div>
    <a href="/products/create">Add more products</a>
  </body>
</html>
