<html>
  <head> </head>
  <body>
    <div class="container">
      <% products.forEach(function(product){ %>
      <li>name: <%= product.product_name %> id: <%= product.id %></li>
      <% }); %>
    </div>
  </body>
</html>
