<html>
  <head>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1><%= products[0].seller_name %></h1>
    <%- include("partial/nav.ejs") %>
    <div class="container">
      <% products.forEach((product)=>{ %>
      <li>
        <a href="/products/<%= product.id %>"><%= product.product_name %></a>
      </li>
      <% }); %>
    </div>
  </body>
</html>
