<html>
  <header><link rel="stylesheet" href="/index.css" /></header>
  <body>
    <div class="container">
      <p>Previous sellers</p>
      <% sellers.forEach(function(seller){ %>
      <li>
        <button>
          <a href="/sellers/<%= seller.id %>"><%= seller.name %></a>
        </button>
      </li>
      <% }); %>
    </div>
    <form action="/sellers/create" method="post">
      <input type="text" name="name" id="name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
