<html>
  <head>
    <link rel="stylesheet" href="/index.css" />
    <title>Shop</title>
  </head>
  <body>
    <h1>Sellers</h1>
    <%- include("partial/nav.ejs") %>
    <div class="container">
      <% sellers.forEach((seller)=>{ %>
      <li>
        <a href="/sellers/<%= seller.id %>"> <%= seller.name %> </a>
      </li>
      <%}); %>
    </div>
  </body>
</html>
